[data-animate-entry] {    
    opacity: 0;
}
[data-animate-entry].animated {
    opacity: 1;
    -webkit-transform: translateY(0) translateX(0) scale(1) rotate(0deg);
    -moz-transform: translateY(0) translateX(0) scale(1) rotate(0deg);;
    -ms-transform: translateY(0) translateX(0) scale(1) rotate(0deg);
    -o-transform: translateY(0) translateX(0) scale(1) rotate(0deg);
    transform: translateY(0) translateX(0) scale(1) rotate(0deg);
}


/* descend */
[data-animate-entry="descend"] {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
/* ascend */
[data-animate-entry="ascend"] {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}
/* easeRight */
[data-animate-entry="easeRight"] {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
}
/* easeLeft */
[data-animate-entry="easeLeft"]  {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
}
/* rotateRight */
[data-animate-entry="rotateRight"] {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0) rotate(-90deg);
    -moz-transform: scale(0) rotate(-90deg);
    -ms-transform: scale(0) rotate(-90deg);
    -o-transform: scale(0) rotate(-90deg);
    transform: scale(0) rotate(-90deg);
}
/* rotateLeft */
[data-animate-entry="rotateLeft"] {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(0) rotate(90deg);
    -moz-transform: scale(0) rotate(90deg);
    -ms-transform: scale(0) rotate(90deg);
    -o-transform: scale(0) rotate(90deg);
    transform: scale(0) rotate(90deg);
}